* {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.box {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.box-list {
  display: flex;
  padding: 16px;
  background-color: #ffffff;
  width: 300px;
  flex-direction: column;
  border-radius: 4px;
  box-shadow: #4f5050 0px 1px 7px;
}

.title {
  text-align: center;
  margin: 10px;
  padding-bottom: 40px;
  color: #404040;
}

ul {
  list-style: none;
}

.item {
  padding: 10px;
}

.item a {
  text-decoration: none;
}

.list li:nth-child(odd) {
  background-color: #d8dfe3;
  border-radius: 3px;
}

.list li:hover {
  background-color: #eaf0e9;
}
